/* ============================
	single post
============================ */

.entry-inner {
	padding: 100px 0;
}

.entry-inner .content-width {
	display: flex;
}

#entry-article {
	box-sizing: border-box;
	border-right: 1px solid #ddd;
	width: 68%;
	padding: 0 24px 0 0;
}

#entry-article .cats {
	display: flex;
	margin: 0;
}

#entry-sidebar {
	box-sizing: border-box;
	width: 32%;
	padding: 0 0 0 24px;
}

#entry-sidebar .sidebar-head {
	margin: 0;
}

#sidebar-cat-list {
	margin: 20px 0 0;
}

#sidebar-news-box {
	margin: 50px 0 0;
}

#sidebar-news-list {
	margin: 20px 0 0;
}

.sidebar-news-item {
	display: flex;
}

.sidebar-news-item + .sidebar-news-item {
	margin: 20px 0 0;
}

.sidebar-news-item .left a {
	display: inline-block;
	width: 100px;
}

.sidebar-news-item .left a img {
	width: 100%;
}

.sidebar-news-item .right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0 0 0 16px;
}

.sidebar-news-item .right .date {
	line-height: 1;
}

.sidebar-news-item .right .ttl {
	line-height: 1.4;
	font-size: 1.4rem;
	font-weight: 400;
	margin: 0;
}

#adjacent-news-box {
	display: flex;
	margin-top: 50px;
}

#adjacent-news-box .adjacent-news {
	box-sizing: border-box;
	width: 50%;
}

#adjacent-news-box .adjacent-news#prev-news {
	padding: 10px 10px 10px 0;
}

#adjacent-news-box .adjacent-news#next-news {
	border-left: 1px solid #ddd;
	padding: 10px 0 10px 10px;
}

#adjacent-news-box .adjacent-head {
	font-size: 1.4rem;
	margin: 0;
}

#adjacent-news-box #prev-news .ttl {
	padding: 0 0 0 10px;
}

#adjacent-news-box #next-news .adjacent-head {
	text-align: right;
}

#adjacent-news-box #next-news .ttl {
	padding: 0 10px 0 0;
	text-align: right;
}

#adjacent-news-box .adjacent-news-inner {
	display: flex;
	align-items: center;
}

#next-news .adjacent-news-inner {
	justify-content: flex-end;
}

#adjacent-news-box .adjacent-news-inner .img-box {
	width: 80px;
}

#adjacent-news-box .adjacent-news-inner .img-box img {
	width: 80px;
}

#adjacent-news-box .adjacent-news-inner .ttl {
	font-size: 1.2rem;
	font-weight: 400;
	margin: 0;
}

/* ============================
	entry-content
============================ */

.entry-content {
	font-size: 1.6rem;
}

.entry-content a {
	color: #0066cc;
}

.entry-content p {
	margin: 2em 0;
}

.entry-content p.mb35rem {
	margin-bottom: 3.5rem;
}

.entry-content hr {
	margin: 4rem 0;
	border: none;
	color: #FFF;
	border-top: 1px dashed #eee;
	height: 0;
	line-height: 0;
	background: none;
	padding: 0;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4 {
	font-weight: bold;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.entry-content h1 {
	font-size: 2.8rem;
	margin: 30px 0;
}

.entry-content h2 {
	font-size: 2.6rem;
	letter-spacing: .05em;
	margin: 50px 0 30px;
	padding: 15px;
	border-bottom: 2px solid #3A625C;
}

.entry-content h3 {
	box-sizing: border-box;
	font-size: 1.8rem;
	margin: 50px 0 30px;
	padding: 10px 16px;
	background-color: #ddd;
}

.entry-content h4 {
	font-size: 1.5rem;
	padding: 5px 0 5px 14px;
	border-left: 4px solid #ddd;
	margin: 50px 0 30px;
}

.entry-content h4.noborder {
	border: none;
	content: none;
	padding-bottom: 0;
}

.entry-content h4.noborder::after,
.entry-content .infobox h4::after {
	content: none;
}

.entry-content span.red {
	color: #DF0101;
}

.entry-content span.bold {
	font-weight: bold;
	color: #310b00;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.entry-content span.underline {
	text-decoration: underline;
	color: #310b00;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.entry-content span.marker {
	background: linear-gradient(transparent 60%, rgba(255, 167, 0, 0.7) 60%);
	color: #310b00;
	font-weight: bold;
	padding: 3px 0 4px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.entry-content blockquote {
	color: #555;
	font-size: 1.7rem;
	font-weight: bold;
	margin: 4rem 0;
	padding: 0.5rem 2.5rem;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	position: relative;
	line-height: 1.65;
}

.entry-content blockquote::before,
.entry-content blockquote::after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 3.5rem;
	height: 2.5rem;
}

.entry-content blockquote::before {
	background: url("../images/c_blockquate_before.png") no-repeat scroll left top #FFF;
	background-size: contain;
	top: -1.2rem;
	left: 0;
}

.entry-content blockquote::after {
	background: url("../images/c_blockquate_after.png") no-repeat scroll right bottom #FFF;
	background-size: contain;
	bottom: -1.2rem;
	right: 0;
}

.entry-content blockquote p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 2rem 0;
}

.entry-content blockquote small,
.entry-content blockquote small a {
	font-weight: normal;
	font-size: 11px;
	color: #888;
}

.entry-content blockquote cite {
	font-size: 1.2rem;
}

.instagram-media {
	max-width: 520px !important;
}

.twitter-tweet {
	width: 520px !important;
}

.entry-content blockquote.wp-embedded-content,
.entry-content blockquote.instagram-media,
.entry-content blockquote.twitter-tweet {
	border: 1px solid #eee;
	box-sizing: border-box;
}

.entry-content blockquote.wp-embedded-content::after,
.entry-content blockquote.wp-embedded-content::before,
.entry-content blockquote.instagram-media::after,
.entry-content blockquote.instagram-media::before,
.entry-content blockquote.instagram-media-registered::after,
.entry-content blockquote.instagram-media-registered::before,
.entry-content blockquote.twitter-tweet::after,
.entry-content blockquote.twitter-tweet::before {
	display: none !important;
}

.entry-content iframe.wp-embedded-content {
	width: 100% !important;
}

.entry-content .instagram-media {
	margin: 3.5rem 0 !important;
}

.entry-content .infobox {
	background: #FDF9F5;
	margin: 2.5rem 0;
	padding: 1rem 2.5rem;
	line-height: 1.65;
}

.entry-content .infobox h4 {
	margin: 1.5rem 0;
	font-size: 1.6rem;
	padding: 0;
	border: none;
}

.entry-content .infobox p {
	margin: 1.5rem 0;
	font-size: 1.5rem;
}

.entry-content .ytsl-wrapper {
	margin: 4rem 0;
}

.entry-content .ytsl-wrapper img {
	display: none !important;
}

.entry-content img {
	height: auto !important;
}

.entry-content .imagebox br {
	display: none;
}

.entry-content .imagebox small,
.entry-content .imagebox small a {
	font-weight: normal;
	font-size: 11px;
	color: #888;
}

.entry-content ul,
.entry-content ol {
	text-align: left;
}

.entry-content li {
	position: relative;
	padding-left: 20px;
}

.entry-content li:before {
	position: absolute;
	content: '';
	top: 11px;
	left: 0;
	width: 10px;
	height: 10px;
	margin: auto;
	background: #ddd;
	border-radius: 50%;
}

.entry-content a {
	text-decoration: underline;
}

.entry-content pre {
	box-sizing: border-box;
	background-color: #eee;
	color: #23282d;
	font-size: 1.4rem;
	padding: 20px;
}

.entry-thumb {
	margin-top: 50px;
}

.entry-thumb img {
	height: 388px;
	width: 100%;
}

.wp-block-file a {
	vertical-align: middle;
}

/* = .wp-caption
-------------------------------------------------------------- */

.wp-caption {
	box-sizing: border-box;
	max-width: 100% !important;
	margin-bottom: 20px;
	padding: 10px;
	line-height: 18px;
	background: #f1f1f1;
	text-align: center;
}

.wp-caption img {
	margin: 0;
	max-width: 100%;
}

.wp-caption p.wp-caption-text {
	color: #777;
	font-size: 14px;
	margin: 10px 0 0 0;
}

/* = other
-------------------------------------------------------------- */

.entry-container {
	padding: 120px 0;
}

.entry-container .content-width.flexbox {
	align-items: flex-start;
}

.entry-container article {
	box-sizing: border-box;
	width: 70%;
	padding-right: 20px;
	margin-right: 20px;
	border-right: 1px solid gray;
}

.entry-container aside {
	width: 30%;
}

.entry-meta.flexbox {
	justify-content: flex-start;
}

.side-ttls-item.flexbox {
	align-items: flex-start;
}

.side-ttls-item + .side-ttls-item {
	margin-top: 16px;
}

.side-thumb {
	width: 100px;
}

.side-body {
	box-sizing: border-box;
	width: calc(100% - 100px);
	padding-left: 10px;
}

.side-ttl {
	font-size: 1.5rem;
	line-height: 1.3;
	margin: 0;
}

.side-meta {
	margin-top: 4px;
}

.side-meta.flexbox {
	justify-content: flex-start;
}

.side-meta .date {
	font-size: 1.2rem;
}

.side-meta .cats {
	margin-left: 4px;
}

.side-meta .cat {
	font-size: 1.2rem;
	padding: 0px 8px;
}

@media screen and (max-width: 767px) {
	#entry-article {
		border-right: none;
		width: 100%;
		padding: 0;
	}

	#entry-sidebar {
		width: 100%;
		padding: 0;
		margin: 50px 0 0;
	}

	#adjacent-news-box .adjacent-news {
		width: 100%;
	}

	#adjacent-news-box .adjacent-news#prev-news {
		padding: 0;
	}

	#adjacent-news-box .adjacent-news#next-news {
		border-left: none;
		padding: 0;
	}

	#adjacent-news-box #next-news {
		margin: 30px 0 0;
	}

	#adjacent-news-box #next-news .adjacent-news-inner.flex-f {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}

	#adjacent-news-box #next-news .adjacent-head {
		text-align: left;
	}

	#adjacent-news-box #next-news .ttl {
		padding: 0 0 0 10px;
	}
}
